{% extends '_dashboard-admin.html.twig' %}

{% block title %}Logement{% endblock %}

{% block body %}

  <div class="col-6">
    <h2 class="fs-5 mb-4">Ajouter un logement :</h2>
    {% include 'admin/logement/_logement-form.html.twig' %}
  </div>

{% endblock body %}