{% extends '_dashboard-admin.html.twig' %}

{% block title %}Activite{% endblock %}

{% block body %}

  <div class="col-6">
    <h2 class="fs-5 mb-4">Ajouter une activité :</h2>
    {% include 'admin/activite/_activite-form.html.twig' %}
  </div>

{% endblock body %}