{% extends '_base-admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div>
        <h2 class="fs-5"> Dashboard ✅</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, totam? Sequi alias eveniet ut quas
            ullam delectus et quasi incidunt rem deserunt asperiores reiciendis assumenda doloremque provident,
            dolores aspernatur nequee.. </p>

        <ul>
            <li>Statistiques</li>
            <li>Chiffres utilisateurs</li>
            <li>Graphes</li>
            <li>...</li>
        </ul>
    </div>

{% endblock body %}