body {
  background: #f8f9fa;
  color: var(--onyx);
  font-family: 'Rubik', sans-serif;
}

#side_nav {
  background: var(--white);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}
.logo{
  width: 180px;
}
.navbar{
  background-color: var(--alice-blue);
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  background: #eee;
}

.sidebar li.active {
  background: var(--metallic-seaweed);
  border-radius: 4px;
}

.sidebar li.active a, .sidebar li.active a:hover {
  color: var(--alice-blue);
}

.sidebar li a {
  color: var(--onyx);
}

.btn-outline-metallic-seaweed {
  border-color: var(--metallic-seaweed);
  color: var(--metallic-seaweed);
}
.btn-outline-metallic-seaweed:hover {
  background-color: var(--metallic-seaweed);
  color: var(--white);

}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }

  #side_nav.active {
    margin-left: 0;
  }
}