{% extends '_base.html.twig' %}

{% block title %}Formulaire!{% endblock %}

{% block body %}
    <div class="container">
        <h1> Formulaire entreprise 💼📊</h1>
        {{ form_start(sponsorForm) }}
        {{ form_end(sponsorForm) }}
    </div>
{% endblock body %}