<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>

<body>
<div class="main-container d-flex">

  <div class="sidebar" id="side_nav">
    <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
      <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">JNM</span> <span class="text-white">MIAGE</span></h1>
    </div>
    <ul class="list-unstyled px-2">
      <li class="active"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i>  Dashboard</a></li>
      <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-list"></i>  Projects</a></li>
      <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><span><i class="fal fa-comment"></i>  Messages </span></a></li>
      <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-envelope-open-text"></i>  Services</a></li>
      <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-users"></i>  Customers</a></li>
    </ul>
    <hr class="h-color mx-2">
    <ul class="list-unstyled px-2">
      <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i>  Settings</a></li>
      <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i>  Notifications</a></li>
    </ul>
  </div>

  <div class="content">
    <div class="bg-light d-flex flex-row-reverse">
      <div class="p-2">Profil</div>
    </div>
    <div class="dashboard-content px-3 pt-4">
      {% block body %} {% endblock %}
    </div>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(".sidebar ul li").on('click', function () {
        $(".sidebar ul li.active").removeClass('active');
        $(this).addClass('active');
    })
</script>
</body>
</html>
